.search-bar-above {
  position: absolute;
  top: 210px;
  right: 0;
}

.search-bar-below {
  position: absolute;
  top: 230px;
  right: 0;
}

.gallery-count-above {
  position: absolute;
  top: 210px;
  right: 200px;
}

.gallery-count-below {
  position: absolute;
  top: 230px;
  right: 200px;
}
