<section class="create-gallery">
  <div class = "btn-group">
  <form name="createGalleryForm"
  class="gallery-form"
  ng-submit="createGalleryCtrl.createGallery()">

  <fieldset class="form-group">
    <label for = "name">name</label>
    <input name = "name" class = "input-std" type="text" ng-model="createGalleryCtrl.gallery.name" required>
  </fieldset>

  <fieldset class ="form-group">
    <label for="desc">Description</label>
    <input name="desc" class="input-std" ng-model="createGalleryCtrl.gallery.desc" required>
  </fieldset>
  <!-- <div ng-if="createGalleryCtrl.showGallArray()"></div><br /> -->
  <button class="btn btn-primary btn-lg active" type="submit">create gallery</button>
</form>
</div>
</section>
